<footer class="page-footer grey darken-4 margin-top" style="margin-top: auto;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6 class="white-text">GDS Hotel</h6>
                <div class="col l5 s12">
                    <ul>
                        <li>ul.Szymaszkowa 5</li>
                        <li>34-500 Zakopane</li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <ul>
                        <li>Tel.: +48 18 202 40 00</li>
                        <li>e-mail: rezerwacja@gds.pl</li>
                    </ul>
                </div>
            </div>

            <div class="col l6 s12">
                <h6 class="white-text">Zobacz także</h6>
                <div class="col l5 s12">
                    <ul>
                        <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                        <li>@Html.ActionLink("Aktualności", "Index", "Home")</li>
                        <li>@Html.ActionLink("Wirtualny spacer", "Index", "Home")</li>
                        <li>@Html.ActionLink("Oferty specjalne", "OfertySpecjalne", "Home")</li>
                    </ul>
                </div>
                <div class="col l6 s12">
                    <ul>
                        <li>@Html.ActionLink("Pokoje", "Rezerwacje", "Home")</li>
                        <li>@Html.ActionLink("Restauracje", "Restauracja", "Home")</li>
                        <li>@Html.ActionLink("Konferencje", "Biznes", "Home")</li>
                        <li>@Html.ActionLink("SPA & Wellness", "Index", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
