@model Firma.Data.Data.CMS.Pokoje

@{
    ViewData["Title"] = "Delete";
}

<h2>Czy na pewno chcesz usunąć ten pokój?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Powierzchnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Powierzchnia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscLozek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscLozek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscOsob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscOsob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlZdjecia)
        </dt>
        <dd class = "col-sm-10">
            <img style="width: 400px; height: 300px;" src=@Html.DisplayFor(model => model.UrlZdjecia) />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-5 pt-5">
        <a asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7" /></svg></a>
        <input type="hidden" asp-for="IdPokoju" />
        <input type="submit" value="Usuń" class="btn btn-danger ml-5" />
    </form>
</div>
