@model Firma.Data.Data.CMS.Pokoje

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły pokoju</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Powierzchnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Powierzchnia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscLozek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscLozek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscOsob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscOsob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlZdjecia)
        </dt>
        <dd class = "col-sm-10">
            <img style="width: 400px; height: 300px;" src=@Html.DisplayFor(model => model.UrlZdjecia) />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
</div>
<div class="mt-5 pt-5">
    <a asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7" /></svg></a>
    <a class="btn btn-primary btn-sm ml-5" role="button" asp-action="Edit" asp-route-id="@Model.IdPokoju">Edytuj<svg class="align-text-bottom ml-1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg></a>
</div>
